QRadioButton {
  background-color:       gray;
  color:                  red;
}

/*
QRadioButton::indicator {
  width:                  10px;
  height:                 10px;
  border-radius:          7px;
}

QRadioButton::indicator:checked {
  background-color:       red;
  border:                 2px solid white;
}

QRadioButton::indicator:unchecked {
  background-color:       black;
  border:                 2px solid white;
}
*/